---
interface Props {
  timespan: string;
  icon: string;
  iconAlt?: string;
}

const { timespan, icon, iconAlt = "" } = Astro.props;
---

<article class="grid grid-cols-[5.5rem_2rem_1fr] gap-4 mb-10 relative">
  <time class="text-sm font-medium text-gray-500 text-right pr-5 pt-1.5 whitespace-pre-line flex flex-col items-end">
    {timespan}
  </time>
  <div class="relative">
    <div class="timeline-dot"></div>
    <img src={icon} alt={iconAlt} class="max-w-[80px] max-h-[80px] w-auto h-auto object-contain rounded" />
  </div>
  <div class="prose max-w-none">
    <slot />
  </div>
</article>
